/* General Styles */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    color: #fff;
    background-color: #1a1a1a; /* Dark background for the entire app */
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
  }
  
  h1 {
    font-size: 48px;
    margin: 20px 0;
    color: #f0a500; /* Highlight for welcome message */
  }
  
  p {
    font-size: 20px;
    color: #ccc; /* Soft white text for paragraph */
  }
  